{erl_opts, [debug_info]}.

{deps, [
    {jsx, "3.1.0"}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, []},
        {ct_opts, [{dir, "test"}]}
    ]}
]}.

{shell, [
    {apps, [copilot_sdk]}
]}.

{ex_doc, [
    {extras, [<<"README.md">>]},
    {main, <<"readme">>},
    {source_url, <<"https://github.com/github/copilot-sdk">>}
]}.

{hex, [{doc, ex_doc}]}.
